<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Fitness Aksesuar &ndash; AĞIRSAĞLAM</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/agirsaglamui/assets/images/favicon.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/style.css">
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/responsive.css">
</head>
 


<div>
    <div class="header-wrap  d-flex">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!--Desktop Logo-->
                <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                    <a href="https://localhost:7203/Kullanici/Home/index">
                        <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                    </a>
                </div>
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                    <div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                            <i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                    <!--Desktop Menu-->
                    <div>
                        <nav class="grid__item" id="AccessibleNav">
                            <!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                <li class="lvl1 parent megamenu">
                                    <a href="https://localhost:7203/Kullanici/Home/discountedproduct">İNDİRİM <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent megamenu"><a href="https://localhost:7203/Kullanici/Home/clothes">GİYİM <i class="anm anm-angle-down-l"></i></a></li>
                                <li class="lvl1 parent megamenu">
                                    <a href="https://localhost:7203/Kullanici/Home/accessory">AKSESUAR <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="https://localhost:7203/Kullanici/Home/coffee">KAHVE <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="https://localhost:7203/Kullanici/Home/contact">İLETİŞİM <i class="anm anm-angle-down-l"></i></a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <!--End Desktop Menu-->
                </div>
                <!--Mobile Logo-->
                <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                    <div class="logo">
                        <a href="https://localhost:7203/Kullanici/Home/index">
                            <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="agirsaglam" title="AĞIRSAĞLAM" />
                        </a>
                    </div>
                </div>
                <!--Mobile Logo-->
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    <div class="site-cart">
                        <a href="#;" class="site-header__cart" title="Cart">
                            <i class="icon anm anm-bag-l"></i>
                            <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">2</span>
                        </a>
                        <!--Minicart Popup-->
                        <!--EndMinicart Popup-->
                    </div>
                    <div class="site-header__search">
                        <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col d-flex justify-content-center">
    <div class="dropdown col-4">
        <select>
            <option value="0">Alfabetik olarak, A-Z</option>
            <option value="1">Öne Çıkan</option>
            <option value="2">En Çok Satan</option>
            <option value="3">Alfabetik, A-Z</option>
            <option value="4">Alfabetik, Z-A</option>
            <option value="5">Fiyat, Düşükten Yükseğe</option>
            <option value="6">Fiyat, Yüksekten Düşüğe</option>
            <option value="7">Tarih, Eskiden yeniye</option>
            <option value="8">Tarih, Yeniden Eskiye</option>
        </select>
    </div>
</div>
<!--Body Content-->
<!--Giysi-->
<div id="page-content">
    <div class="tab-slider-product section">
        <div class="container">
            <div class="row">
                <div class="tabs-listing">
                    <div class="tab_container">
                        <div id="tab1" class="tab_content grid-products">
                            <div class="d-flex flex-wrap">


                                @{
                                    for (int i = 0; i < ViewBag.Accessory.Count; i++)
                                    {
                                        <div class="col-4 item my-4">
                                            <!-- start product image -->
                                            <div class="product-image ">
                                                <!-- start product image -->
                                                <a href="@Url.Action("ProductDetail", "Home", new { id = ViewBag.Accessory[i].id })">
                                                    <!-- image -->
                                                    <img class="primary blur-up lazyload w-75" src="@ViewBag.Accessory[i].image" alt="image" title="product">
                                                    <div class="product-labels rectangular"><span class="lbl on-sale">İNDİRİM</span> <span class="lbl pr-label1">new</span></div>
                                                </a>
                                                <div class="saleTime desktop" data-countdown="2022/03/01"></div>
                                            </div>
                                            <div class="product-details text-center">
                                                <!-- product name -->
                                                <div class="product-name">
                                                    <a href="@Url.Action("ProductDetail", "Home", new { id = ViewBag.Accessory[i].id })">@ViewBag.Accessory[i].name</a>
                                                </div>
                                                <!-- End product name -->
                                                <!-- product price -->
                                                <div class="product-price">
                                                    @if (ViewBag.Accessory[i].discountPrice == null || ViewBag.Accessory[i].discountPrice == 0)
                                                    {
                                                        <span class="price">@ViewBag.Accessory[i].price</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="old-price">@ViewBag.Accessory[i].price</span>
                                                        <span class="price">@ViewBag.Accessory[i].discountPrice</span>
                                                    }
                                                </div>
                                                <!-- End product price -->

                                                <div class="product-review">
                                                    <i class="font-13 fa fa-star"></i>
                                                    <i class="font-13 fa fa-star"></i>
                                                    <i class="font-13 fa fa-star"></i>
                                                    <i class="font-13 fa fa-star-o"></i>
                                                    <i class="font-13 fa fa-star-o"></i>
                                                </div>
                                                <!-- Variant -->
                                                <!-- End Variant -->
                                            </div>
                                            <!-- End product details -->
                                        </div>
                                    }
                                }




                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Latest Blog-->
            <div class="col-12 mt-5">

                <p class="d-flex justify-content-center">
                    <strong class="h2 font-weight-bold">
                        <p>
                            Ağırsağlam Fitness Aksesuarları
                        </p>
                    </strong>
                <p>
                    Ağırsağlam aksesuar ve spor malzemeleriyle spor salonunda performansınızı zirvede hissedeceksiniz!
                    Bilek, dirsek ve diz destek ürünleri, stabilitenizi ve mukavemetinizi artıracak,
                    daha fazla antrenman hacmi ve ağırlık artırabileceksiniz. Onbinlerce müşterimiz bizi teyit ediyor, ağırsağlam kalitesini öneriyor!
                </p>
                </p>
                <hr>
                <p class="">
                    <strong class="h3 font-weight-bold">
                        <p>
                            Profesyoneller Onaylıyor
                        </p>
                    </strong>
                <p>
                    Lifting strap, wrist wrap, knee sleeve veya knee wrap gibi ürünlerin her biri ulusal ve uluslararası çapta başarılı sporcular tarafından onaylanıyor. Antrenman
                    performansınızı artırmak için bu ürünlerin nasıl kullanılacağını öğrenmek istiyorsanız
                    ilgilendiğiniz ürünün videolu açıklamalarını inceleyebilirsiniz!
                </p>
                </p>
                <hr>
                <p class="">
                    <strong class="h3 font-weight-bold">
                        <p>
                            Sorunsuz Gönderim ve Garanti
                        </p>
                    </strong>
                <p>
                    Ağırsağlam ürünleri bir şekilde sizi tatmin etmedi mi?
                    Bize ulaşın, size yardımcı olacağımızı garanti ediyoruz! İade veya değişimlerde herhangi bir ücret almıyoruz!
                </p>
                </p>


            </div>
        </div>
        <!-- Including Jquery -->
        <script src="~/agirsaglamui/assets/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="~/agirsaglamui/assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="~/agirsaglamui/assets/js/vendor/jquery.cookie.js"></script>
        <script src="~/agirsaglamui/assets/js/vendor/wow.min.js"></script>
        <!-- Including Javascript -->
        <script src="~/agirsaglamui/assets/js/bootstrap.min.js"></script>
        <script src="~/agirsaglamui/assets/js/plugins.js"></script>
        <script src="~/agirsaglamui/assets/js/popper.min.js"></script>
        <script src="~/agirsaglamui/assets/js/lazysizes.js"></script>
        <script src="~/agirsaglamui/assets/js/main.js"></script>
