<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kahve &ndash; AĞIRSAĞLAM</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/agirsaglamui/assets/images/favicon.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/style.css">
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<div>
    <div class="header-wrap  d-flex">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!--Desktop Logo-->
                <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                    <a href="https://localhost:7203/Kullanici/Home/index">
                        <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                    </a>
                </div>
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                    <div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                            <i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                    <!--Desktop Menu-->
                    <div>
                        <nav class="grid__item" id="AccessibleNav">
                            <!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                <li class="lvl1 parent megamenu">
                                    <a href="https://localhost:7203/Kullanici/Home/discountedproduct">İNDİRİM <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent megamenu"><a href="https://localhost:7203/Kullanici/Home/clothes">GİYİM <i class="anm anm-angle-down-l"></i></a></li>
                                <li class="lvl1 parent megamenu">
                                    <a href="https://localhost:7203/Kullanici/Home/accessory">AKSESUAR <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="https://localhost:7203/Kullanici/Home/coffee">KAHVE <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="https://localhost:7203/Kullanici/Home/contact">İLETİŞİM <i class="anm anm-angle-down-l"></i></a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <!--End Desktop Menu-->
                </div>
                <!--Mobile Logo-->
                <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                    <div class="logo">
                        <a href="https://localhost:7203/Kullanici/Home/index">
                            <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="agirsaglam" title="AĞIRSAĞLAM" />
                        </a>
                    </div>
                </div>
                <!--Mobile Logo-->
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    <div class="site-cart">

                        <a href="https://localhost:7203/Kullanici/Home/cart" title="Cart">
                            <i class="fas fa-shopping-cart" style="font-size: 20px;"></i>
                        
                        </a>
                        <!--Minicart Popup-->
                        <!--EndMinicart Popup-->
                    </div>
                    <div class="site-header__search">
                        <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="MainContent" class="main-content" role="main">

    <!--End Breadcrumb-->

    <div id="ProductSection-product-template" class="product-template__container prstyle3 container-fluid">
        <!--#ProductSection-product-template-->
        <div class="product-single product-single-1">
            <div class="left-content-product">
                <div class="row">

                    @{

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="product-details-img product-single__photos bottom">
                                <div class="zoompro-wrap product-zoom-right pl-20">
                                    <div class="zoompro-span">
                                        <img class="blur-up lazyload zoompro" data-zoom-image="@ViewBag.ProductDetails.image" alt="" src="@ViewBag.ProductDetails.image" />
                                    </div>
                                    <div class="product-labels"><span class="lbl on-sale">Sale</span><span class="lbl pr-label1">new</span></div>

                                </div>
                                <!--fotoğraf-->
                                <div class="product-thumb product-thumb-1">
                                    <div id="gallery" class="product-dec-slider-1 product-tab-left">
                                        <a data-image="@ViewBag.ProductDetails.image" data-zoom-image="@ViewBag.ProductDetails.image" class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1">
                                            <img class="blur-up lazyload" src="@ViewBag.ProductDetails.image" alt="" id="product-image" />
                                        </a>



                                    </div>
                                </div>


                            </div>
                        </div>

                    }
                    @{


                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                            <div class="product-single__meta">
                                <h1 class="product-single__title" id="product-name">@ViewBag.ProductDetails.name</h1>

                                <div class="prInfoRow">
                                    <div class="product-review"><a class="reviewLink" href="#tab2"><i class="font-13 fa fa-star"></i><i class="font-13 fa fa-star"></i><i class="font-13 fa fa-star"></i><i class="font-13 fa fa-star-o"></i><i class="font-13 fa fa-star-o"></i><span class="spr-badge-caption">6 reviews</span></a></div>
                                </div>
                                <div class="product-price">
                                    @if (ViewBag.ProductDetails.discountPrice == null || ViewBag.ProductDetails.discountPrice == 0)
                                    {
                                        <span class="price text-xl" id="product-price">@ViewBag.ProductDetails.price</span>

                                    }
                                    else
                                    {
                                        <span class="old-price" style="font-size:25px">@ViewBag.ProductDetails.price</span>
                                        <span class="price" style="font-size:25px" id="product-price">@ViewBag.ProductDetails.discountPrice</span>
                                    }
                                </div>


                                <form method="post" action="" id="product_form_10508262282" accept-charset="UTF-8" class="product-form product-form-product-template hidedropdown" enctype="multipart/form-data">
                                    <input type="hidden" value="@ViewBag.ProductDetails.id" id="product-id">
                                    <div class="swatch clearfix swatch-0 option1" data-option-index="0">
                                        <div class="product-form__item">
                                           

                                            @if (ViewBag.ProductProperties != null)
                                            {
                                                foreach (var property in ViewBag.ProductProperties)
                                                {
                                                    var propertyName = property.propertyName.Value.ToString();

                                                    if (propertyName.Contains("Siyah", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="Black" class="swatch-element color black available">
                                                            <input class="swatchInput" id="swatch-0-black" type="radio" name="option-0" value="Black">
                                                            <label class="swatchLbl color small rounded" for="swatch-0-black" style="background-color:black;" title="Black"></label>
                                                        </div>

                                                    }
                                                    if (propertyName.Contains("Beyaz", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="White" class="swatch-element color white available">
                                                            <input class="swatchInput" id="swatch-0-white" type="radio" name="option-0" value="White">
                                                            <label class="swatchLbl color small rounded" for="swatch-0-white" style="background-color:white;" title="White"></label>
                                                        </div>

                                                    }
                                                    if (propertyName.Contains("Yeşil", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="Green" class="swatch-element color black available">
                                                            <input class="swatchInput" id="swatch-0-black" type="radio" name="option-0" value="Green">
                                                            <label class="swatchLbl color small rounded" for="swatch-0-black" style="background-color:green;" title="Black"></label>
                                                        </div>

                                                    }
                                                    if (propertyName.Contains("Pembe", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="Pink" class="swatch-element color pink available">
                                                            <input class="swatchInput" id="swatch-0-black" type="radio" name="option-0" value="Pink">
                                                            <label class="swatchLbl color small rounded" for="swatch-0-black" style="background-color:pink;" title="Pink"></label>
                                                        </div>

                                                    }
                                                    if (propertyName.Contains("Kahverengi", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="Brown" class="swatch-element color brown available">
                                                            <input class="swatchInput" id="swatch-0-black" type="radio" name="option-0" value="Brown">
                                                            <label class="swatchLbl color small rounded" for="swatch-0-black" style="background-color:saddlebrown;" title="Brown"></label>
                                                        </div>

                                                    }
                                                    if (propertyName.Contains("Gri", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="Black" class="swatch-element color black available">
                                                            <input class="swatchInput" id="swatch-0-gray" type="radio" name="option-0" value="Gray">
                                                            <label class="swatchLbl color small rounded" for="swatch-0-black" style="background-color:gray;" title="Gray"></label>
                                                        </div>

                                                    }
                                                    if (propertyName.Contains("Sarı", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="Yellow" class="swatch-element color black available">
                                                            <input class="swatchInput" id="swatch-0-black" type="radio" name="option-0" value="Yellow">
                                                            <label class="swatchLbl color small rounded" for="swatch-0-black" style="background-color:yellow;" title="Yellow"></label>
                                                        </div>

                                                    }
                                                    if (propertyName.Contains("Mor", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="Purple" class="swatch-element color purple available">
                                                            <input class="swatchInput" id="swatch-0-black" type="radio" name="option-0" value="Purple">
                                                            <label class="swatchLbl color small rounded" for="swatch-0-black" style="background-color:purple;" title="Purple"></label>
                                                        </div>

                                                    }
                                                    if (propertyName.Contains("Kırmızı", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="Red" class="swatch-element color black available">
                                                            <input class="swatchInput" id="swatch-0-red" type="radio" name="option-0" value="Red">
                                                            <label class="swatchLbl color small rounded" for="swatch-0-black" style="background-color:red;" title="Red"></label>
                                                        </div>

                                                    }
                                                    if (propertyName.Contains("Mavi", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="Blue" class="swatch-element color black available">
                                                            <input class="swatchInput" id="swatch-0-blue" type="radio" name="option-0" value="Blue">
                                                            <label class="swatchLbl color small rounded" for="swatch-0-black" style="background-color:blue;" title="Blue"></label>
                                                        </div>

                                                    }
                                                    if (propertyName.Contains("Turuncu", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="Orange" class="swatch-element color black available">
                                                            <input class="swatchInput" id="swatch-0-orange" type="radio" name="option-0" value="Orange">
                                                            <label class="swatchLbl color small rounded" for="swatch-0-black" style="background-color:orange;" title="Orange"></label>
                                                        </div>

                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <!--Beden -->
                                    <div class="swatch clearfix swatch-1 option2" data-option-index="1">
                                        <div class="product-form__item">
                                            @if (ViewBag.ProductProperties != null)
                                            {
                                                foreach (var property in ViewBag.ProductProperties)
                                                {
                                                    var propertyName = property.propertyName.Value.ToString();

                                                    if (propertyName.Contains("XSmall", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="XS" class="swatch-element xs available">
                                                            <input class="swatchInput" id="swatch-1-xs" type="radio" name="option-1" value="XS"><label class="swatchLbl small flat" for="swatch-1-xs" title="XS">XS</label>
                                                        </div>
                                                    }
                                                     if (propertyName.Contains("Small", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="S" class="swatch-element s available">
                                                            <input class="swatchInput" id="swatch-1-s" type="radio" name="option-1" value="S"><label class="swatchLbl small flat" for="swatch-1-s" title="S">S</label>
                                                        </div>
                                                    }
                                                    if (propertyName.Contains("Medium", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="M" class="swatch-element m available">
                                                            <input class="swatchInput" id="swatch-1-m" type="radio" name="option-1" value="M"><label class="swatchLbl small flat" for="swatch-1-m" title="M">M</label>
                                                        </div>
                                                    }
                                                    if (propertyName.Contains("Large", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="L" class="swatch-element l available">
                                                            <input class="swatchInput" id="swatch-1-l" type="radio" name="option-1" value="L"><label class="swatchLbl small flat" for="swatch-1-l" title="L">L</label>
                                                        </div>
                                                    }
                                                    if (propertyName.Contains("XLarge", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="XL" class="swatch-element xl available">
                                                            <input class="swatchInput" id="swatch-1-xl" type="radio" name="option-1" value="XL"><label class="swatchLbl small flat" for="swatch-1-xl" title="Xl">XL</label>
                                                        </div>
                                                    }
                                                    if (propertyName.Contains("XXLarge", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="XXL" class="swatch-element xs available">
                                                            <input class="swatchInput" id="swatch-1-xxl" type="radio" name="option-1" value="XXL"><label class="swatchLbl small flat" for="swatch-1-xxl" title="XXL">XXL</label>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                        </div>

                                    <!--Cinsiyet -->
                                    <div class="swatch clearfix swatch-1 option6" data-option-index="2">
                                        <div class="product-form__item">
                                            @if (ViewBag.ProductProperties != null)
                                            {
                                                foreach (var property in ViewBag.ProductProperties)
                                                {
                                                    var propertyName = property.propertyName.Value.ToString();

                                                    if (propertyName.Contains("Kadın", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="kadin" class="swatch-element kadin available">
                                                            <input class="swatchInput" id="swatch-1-kadin" type="radio" name="option-2" value="kadin"><label class="swatchLbl small flat" for="swatch-1-kadin" title="Kadın">Kadın</label>
                                                        </div>
                                                    }
                                                    if (propertyName.Contains("Erkek", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="erkek" class="swatch-element erkek available">
                                                            <input class="swatchInput" id="swatch-1-erkek" type="radio" name="option-2" value="erkek"><label class="swatchLbl small flat" for="swatch-1-erkek" title="Erkek">Erkek</label>
                                                        </div>
                                                    }


                                                }
                                            }
                                        </div>
                                    </div>
                                    <!--Kapasite -->
                                    <div class="swatch clearfix swatch-1 option3" data-option-index="3">
                                        <div class="product-form__item">
                                            @if (ViewBag.ProductProperties != null)
                                            {
                                                foreach (var property in ViewBag.ProductProperties)
                                                {
                                                    var propertyName = property.propertyName.Value.ToString();

                                                    if (propertyName.Contains("1 Litre", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="litre1" class="swatch-element litre1 available">
                                                            <input class="swatchInput" id="swatch-1-litre1" type="radio" name="option-3" value="litre1"><label class="swatchLbl small flat" for="swatch-1-litre1" title="1 Litre">1 Litre</label>
                                                        </div>
                                                    }
                                                    if (propertyName.Contains("500 ml", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="ml500" class="swatch-element 500ml available">
                                                            <input class="swatchInput" id="swatch-1-500ml" type="radio" name="option-3" value="500ml"><label class="swatchLbl small flat" for="swatch-1-500ml" title="500 ml">500 ml</label>
                                                        </div>
                                                    }
                                                    if (propertyName.Contains("250 ml", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="ml250" class="swatch-element m available">
                                                            <input class="swatchInput" id="swatch-1-250ml" type="radio" name="option-3" value="250ml"><label class="swatchLbl small flat" for="swatch-1-250ml" title="250 ml">250 ml</label>
                                                        </div>
                                                    }
                                                    if (propertyName.Contains("350 ml", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="ml350" class="swatch-element l available">
                                                            <input class="swatchInput" id="swatch-1-350ml" type="radio" name="option-3" value="350ml"><label class="swatchLbl small flat" for="swatch-1-350ml" title="350 ml">350 ml</label>
                                                        </div>
                                                    }
                                                  
                                                }
                                            }
                                        </div>
                                    </div>

                                    <!--Materyal -->
                                    <div class="swatch clearfix swatch-1 option4" data-option-index="4">
                                        <div class="product-form__item">


                                            @if (ViewBag.ProductProperties != null)
                                            {
                                                foreach (var property in ViewBag.ProductProperties)
                                                {
                                                    var propertyName = property.propertyName.Value.ToString();

                                                    if (propertyName.Contains("Çelik", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="celik" class="swatch-element celik available">
                                                            <input class="swatchInput" id="swatch-1-celik" type="radio" name="option-4" value="celik"><label class="swatchLbl small flat" for="swatch-1-celik" title="Çelik">Çelik</label>
                                                        </div>
                                                    }
                                                    if (propertyName.Contains("Plastik", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="plastik" class="swatch-element plastik available">
                                                            <input class="swatchInput" id="swatch-1-plastik" type="radio" name="option-4" value="plastik"><label class="swatchLbl small flat" for="swatch-1-plastik" title="Plastik">Plastik</label>
                                                        </div>
                                                    }
                                                    if (propertyName.Contains("Bambu", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="bambu" class="swatch-element bambu available">
                                                            <input class="swatchInput" id="swatch-1-bambu" type="radio" name="option-4" value="bambu"><label class="swatchLbl small flat" for="swatch-1-bambu" title="bambu">bambu</label>
                                                        </div>
                                                    }
                                                    

                                                }
                                            }
                                        </div>
                                    </div>

                                    <!--Ağırlık -->
                                    <div class="swatch clearfix swatch-1 option5" data-option-index="5">
                                        <div class="product-form__item">


                                            @if (ViewBag.ProductProperties != null)
                                            {
                                                foreach (var property in ViewBag.ProductProperties)
                                                {
                                                    var propertyName = property.propertyName.Value.ToString();

                                                    if (propertyName.Contains("1000 gr", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="gram1000" class="swatch-element gram1000 available">
                                                            <input class="swatchInput" id="swatch-1-gram1000" type="radio" name="option-5" value="gram1000"><label class="swatchLbl small flat" for="swatch-1-gram1000" title="1000 gr">1000 gr</label>
                                                        </div>
                                                    }
                                                    if (propertyName.Contains("500 gr", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="gr500" class="swatch-element 500gr available">
                                                            <input class="swatchInput" id="swatch-1-500gr" type="radio" name="option-5" value="500gr"><label class="swatchLbl small flat" for="swatch-1-500gr" title="500 gr">500 gr</label>
                                                        </div>
                                                    }
                                                    if (propertyName.Contains("250 gr", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="gr250" class="swatch-element 250gr available">
                                                            <input class="swatchInput" id="swatch-1-250gr" type="radio" name="option-5" value="250gr"><label class="swatchLbl small flat" for="swatch-1-250gr" title="250 gr">250 gr</label>
                                                        </div>
                                                    }
                                                    if (propertyName.Contains("125 gr", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <div data-value="gr125" class="swatch-element l available">
                                                            <input class="swatchInput" id="swatch-1-125gr" type="radio" name="option-5" value="125gr"><label class="swatchLbl small flat" for="swatch-1-125gr" title="125 gr">125 gr</label>
                                                        </div>
                                                    }

                                                }
                                            }
                                        </div>
                                    </div>

                                  

                                        <!-- Product Action -->
                                        <div class="product-action clearfix">
                                            <div class="product-form__item--quantity">
                                                <div class="wrapQtyBtn">
                                                    <div class="qtyField">
                                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                                        <input type="text" id="Quantity" name="quantity" value="1" class="product-form__input qty">
                                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-form__item--submit">
                                                <button type="submit" name="add" class="btn product-form__cart-submit">
                                                    <span>Sepete Ekle</span>
                                                </button>
                                            </div>
                                           
                                        </div>
                                        <!-- End Product Action -->
                                    </form>
                                </div>
                            </div>
                                            }

                        <!--End Product Tabs-->
                    </div>
                </div>
                <!--End-product-single-->
            </div>
            <!--#ProductSection-product-template-->
        </div>
        <!--MainContent-->
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#product_form_10508262282').submit(function (event) {
            event.preventDefault(); 
            handleFormSubmit();
        });
    });

    function handleFormSubmit() {

        var idElement = document.getElementById('product-id');
        var _productName = document.getElementById('product-name');
        var priceElement = document.getElementById('product-price');
        var quantity = $('#Quantity').val();
        var priceValue = priceElement.innerHTML;
        var productName = _productName.innerHTML;
        // product-image 
        var imageElement = document.getElementById('product-image');
        var srcValue = imageElement.getAttribute('src');
        var idValue = idElement.value;
 


        var options = {};

 
        addOptionIfAvailable(options, 'color', '.swatch-0.option1 .swatchInput:checked');
        addOptionIfAvailable(options, 'size', '.swatch-1.option2 .swatchInput:checked');
        addOptionIfAvailable(options, 'gender', '.swatch-1.option6 .swatchInput:checked');
        addOptionIfAvailable(options, 'capacity', '.swatch-1.option3 .swatchInput:checked');
        addOptionIfAvailable(options, 'material', '.swatch-1.option4 .swatchInput:checked');
        addOptionIfAvailable(options, 'weight', '.swatch-1.option5 .swatchInput:checked');
        var formData = {
            productId: idValue,
            price: priceValue,
            quantity: quantity,
            options: options,
            imgUrl:srcValue,
            productName: productName
        };
    
        var existingData = localStorage.getItem('sepetveri');
        if (existingData) {
            existingData = JSON.parse(existingData);
        } else {
            existingData = [];
        }
        existingData.push(formData);
        localStorage.setItem('sepetveri', JSON.stringify(existingData));
        alert("Ürün sepete eklendi.");
    }

    function addOptionIfAvailable(optionsObj, key, selector) {
        var selectedValue = $(selector).val();
        if (selectedValue !== undefined && selectedValue !== null) {
            optionsObj[key] = selectedValue;
        }
    }
</script>